@keyframes float-left-right {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(10px); } /* change 10px to control movement */
}

@keyframes float-right-left {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-10px); }
}

.animate-left-right {
  animation: float-left-right 3s ease-in-out infinite;
}

.animate-right-left {
  animation: float-right-left 3s ease-in-out infinite;
}
